<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>dash</td><td>DashBoardScreen.contentManagementButtonTest()[pri:1, instance:org.test.screens.DashBoardScreen@f107c50]<br/>DashBoardScreen.dashBoardScreenTest()[pri:0, instance:org.test.screens.DashBoardScreen@f107c50]<br/>DashBoardScreen.solutionButtonTest()[pri:2, instance:org.test.screens.DashBoardScreen@f107c50]<br/></td></tr>
<tr><td>login</td><td>LoginScreen.loginTest()[pri:0, instance:org.test.screens.LoginScreen@7d9e8ef7]<br/></td></tr>
<tr><td>result</td><td>Results.generateResults()[pri:0, instance:org.test.utils.Results@3f91b517]<br/></td></tr>
<tr><td>setup</td><td>DriverSetup.setUp()[pri:0, instance:org.test.drivers.DriverSetup@54eb2b70]<br/></td></tr>
<tr><td>sol</td><td>SolutionsTest.countTest()[pri:2, instance:org.test.screens.SolutionsTest@4241e0f4]<br/>SolutionsTest.solutionNumberTest()[pri:3, instance:org.test.screens.SolutionsTest@4241e0f4]<br/>SolutionsTest.csvRead()[pri:1, instance:org.test.screens.SolutionsTest@4241e0f4]<br/>SolutionsTest.newlyAddedSolutionsTableTest()[pri:0, instance:org.test.screens.SolutionsTest@4241e0f4]<br/></td></tr>
</table>
