<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite_1</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9691f8">  <td>23/07/31 23:57:56</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DashBoardScreen.dashBoardScreenTest()[pri:0, instance:org.test.screens.DashBoardScreen@f107c50]">dashBoardScreenTest</td> 
  <td>main@1915318863</td>   <td></td> </tr>
<tr bgcolor="9691f8">  <td>23/07/31 23:57:57</td>   <td>1828</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DashBoardScreen.solutionButtonTest()[pri:2, instance:org.test.screens.DashBoardScreen@f107c50]">solutionButtonTest</td> 
  <td>main@1915318863</td>   <td></td> </tr>
<tr bgcolor="b8b9e9">  <td>23/07/31 23:57:59</td>   <td>3319</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SolutionsTest.solutionNumberTest()[pri:3, instance:org.test.screens.SolutionsTest@4241e0f4]">solutionNumberTest</td> 
  <td>main@1915318863</td>   <td></td> </tr>
<tr bgcolor="9691f8">  <td>23/07/31 23:57:57</td>   <td>1555</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DashBoardScreen.contentManagementButtonTest()[pri:1, instance:org.test.screens.DashBoardScreen@f107c50]">contentManagementButtonTest</td> 
  <td>main@1915318863</td>   <td></td> </tr>
<tr bgcolor="b8b9e9">  <td>23/07/31 23:57:58</td>   <td>2834</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SolutionsTest.newlyAddedSolutionsTableTest()[pri:0, instance:org.test.screens.SolutionsTest@4241e0f4]">newlyAddedSolutionsTableTest</td> 
  <td>main@1915318863</td>   <td></td> </tr>
<tr bgcolor="b8b9e9">  <td>23/07/31 23:57:59</td>   <td>3306</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SolutionsTest.csvRead()[pri:1, instance:org.test.screens.SolutionsTest@4241e0f4]">csvRead</td> 
  <td>main@1915318863</td>   <td></td> </tr>
<tr bgcolor="df6e9a">  <td>23/07/31 23:57:52</td>   <td>-3191</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginScreen.loginTest()[pri:0, instance:org.test.screens.LoginScreen@7d9e8ef7]">loginTest</td> 
  <td>main@1915318863</td>   <td></td> </tr>
<tr bgcolor="b8b9e9">  <td>23/07/31 23:57:59</td>   <td>3313</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SolutionsTest.countTest()[pri:2, instance:org.test.screens.SolutionsTest@4241e0f4]">countTest</td> 
  <td>main@1915318863</td>   <td></td> </tr>
<tr bgcolor="7b6699">  <td>23/07/31 23:57:48</td>   <td>-8073</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DriverSetup.setUp()[pri:0, instance:org.test.drivers.DriverSetup@54eb2b70]">setUp</td> 
  <td>main@1915318863</td>   <td></td> </tr>
<tr bgcolor="9bbf68">  <td>23/07/31 23:57:59</td>   <td>3327</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Results.generateResults()[pri:0, instance:org.test.utils.Results@3f91b517]">generateResults</td> 
  <td>main@1915318863</td>   <td></td> </tr>
</table>
